body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.login-div {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  /* border: 2px solid black; */
}

.profile-div {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
}

.createpack-div {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 5%;
  margin-bottom: 10%;
  /* padding: 100px; */
  /* border-style: solid;
  border-color: blue; */
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* .main-img div {
  display: flex;
  justify-content: center;
  position: top;
} */

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  /* opacity: 0.5; */
}